body, div, p, input, h1, h2, h3, h4, h5, h6, ol, ul, li, dl, dt, dd, form, button, select, textarea, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    vertical-align: middle;
    font-weight: normal;
}
img {
    margin: auto;
    display: block;
}
body {
    color: #333;
    -webkit-user-select: none;
    -webkit-text-size-adjust: none;
    font: normal 14px/180% arial, helvetica, "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑", sans-serif;
    text-align: left;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
a {
    text-decoration: none;
    color: #333;
}

/* 清除浮动 */
.clearfix:before, .clearfix:after {
    display: block;
    visibility: hidden;
    height: 0;
    content: "";
    clear: both;
}
.clearfix {
    zoom: 1;
}
html {
    width: 100%;
    height: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}
body {
    background-color: #f8f8f8;
    height: 100%;
    position: relative;
    max-width: 750px;
    margin: 0 auto;
}

/* 隐藏滚动条 */
*::-webkit-scrollbar {
    display: none;
}

/* flex布局 */
.flex-wrap {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -ms-box;
    display: box;
    display: flex;
}
.flex-con {
    -webkit-box-flex: 1;
    -ms-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    box-flex: 1;
    flex: 1;
}
.flex-vertical {
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-flow: column;
    -flex-direction: column;
    flex-flow: column;
}
.border-t, .border-b, .border-l, .border-r {
    position: relative;
}
.border-t:before, .border-b:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: #e2e2e2;
    right: 0;
    height: 1px;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
.border-l::before, .border-r::after {
    content: '';
    position: absolute;
    bottom: 0;
    top: 0;
    background: #e2e2e2;
    left: 0;
    width: 1px;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
.border-b:after {
    top: auto;
    bottom: 0;
}
.border-r::after {
    right: 0;
    left: auto;
}
.allgood-title{
    font-size: 16px;
    line-height: 2.6;
    padding: 0 2.5%;
    margin-bottom: 6px;
}
.fenlei-title {
    text-align: center;
    padding:8px 3px 6px;
}
.fenlei-title img{
    width: 100%;
}
.goods-show {
    padding: 0 1.6%;
    padding-bottom: 10px;
}
.goods-show .img-box {
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    background-color: #f5f5f5;
}
.goods-show img {
    display: block;
    width: 100%;
    margin: 0 auto;
}
.goods-show a {
    text-decoration: none;
    color: #333;
    display: block;
}
.goods-show li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 4px;
}
.goods-show ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.goods-show li a {
    // border: 1px solid #E5E5E5;
    padding: 4px;
    background-color: #fff;
}
.goods-show li a .tag {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    background-color: #fc9292;
    color: #fff;
    text-align: center;
    width: 70px;
    line-height: 1.3;
}
.goods-show li a .sale-number {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 5px;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    text-align: center;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
}
.goods-show li .intro {
    position: relative;
    padding: 5px 8px 3px;
}
.goods-show li h4 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    line-height: 1.6;
}
.goods-show li p.price {
    font-size: 16px;
    color: #FF8132;
    width: 95%;
    line-height: 26px;
    font-weight: bold;
}
.goods-show li p.price del{
    font-size: 12px;
    font-weight: normal;
    color: #999;
    margin-left: 5px;
}
.goods-show li .buy-btn {
    background-color: #FF8132;
    width: 60px;
    height: 26px;
    line-height: 28px;
    text-align: center;
    color: #fff;
    font-size: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    position: absolute;
    bottom: 3px;
    right: 3px;
}
.goods-view1 li {
    margin-bottom: 2px;
}
.goods-view2 li {
    width: 50%;
    float: left;
    box-sizing: border-box;
}
.goods-view2 li a {
    background-color: #fff;
    margin: 0 auto;
    padding: 1px;
}
.goods-view2 li h4 {
    display: -webkit-box !important;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: normal;
    font-size: 14px;
    line-height: 1.5;
    height: 41px;
}
.goods-view2 li .buy-btn {
    width: 50px;
    height: 22px;
    line-height: 22px;
    bottom: 5px;
    font-size: 12px;
}
.goods-view3 li {
    width: 50%;
    float: left;
    padding: 5px;
}
.goods-view3 li:nth-of-type(3n+1) {
    width: 100%;
}
.goods-view3 li a {
    background-color: #fff;
    padding: 2px;
}
.goods-view3 li h4 {
    display: -webkit-box !important;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: normal;
    font-size: 14px;
    line-height: 1.5;
    height: 41px;
}
.goods-view3 li:nth-of-type(3n+1) h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    line-height: 1.5;
    height: auto;
    display: block !important;
}
.goods-view3 li:nth-of-type(3n+1) a {
    padding: 4px;
}
.goods-view3 li .buy-btn {
    width: 50px;
    height: 22px;
    line-height: 22px;
    bottom: 5px;
    font-size: 12px;
}
.goods-view3 li:nth-of-type(3n+1) .buy-btn {
    width: 60px;
    height: 26px;
    line-height: 26px;
    bottom: 3px;
    font-size: 13px;
}
.goods-view4 li{
    padding: 5px;
}
.goods-view4 li a {
    overflow: hidden;
    display: box;
    display: -ms-box;
    display: -webkit-box;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
}
.goods-view4 li .img-box {
    width: 40%;
}
.goods-view4 li .intro {
    -webkit-box-flex: 1;
    -ms-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    box-flex: 1;
    flex: 1;
}
.goods-view4 li h4 {
    display: -webkit-box !important;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    white-space: normal;
    font-size: 14px;
    line-height: 1.5;
}
.goods-show .goods-view4 li p.price {
    position: absolute;
    left:6px;
    bottom: 4px;
}
.goods-view4 li .buy-btn {
    right: 8px;
    bottom: 8px;
}

.see-allgoods{
    text-align: center;
    background-color: #f0f0f0;
    margin: 5px auto 0;
    width: 98%;
    padding: 5px 0;
    font-size: 14px;
    color: #089CFE;
}
.see-allgoods:active{
    background-color: #eee;
}
.see-allgoods a {
    color: #333;
}
.allgoods{
    padding-bottom: 45px;
}
#footer{
    position: fixed;
    left:0;
    bottom:0;
    z-index: 1;
}