.dropload-up,.dropload-down{
    position: relative;
    height: 0;
    overflow: hidden;
    font-size: 12px;
    /* 开启硬件加速 */
    -webkit-transform:translateZ(0);
    transform:translateZ(0);
}
.dropload-down{
    height: 45px;
}
.dropload-refresh,.dropload-update,.dropload-load,.dropload-noData{
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: #999;
}
.dropload-up span,.dropload-down span{
    padding:5px 0;
    padding-left: 25px;
    background: url('') no-repeat;
    background-position: left center;
    background-size: 20px;
}
.dropload-up .dropload-refresh>span{
    background-image: url(../image/pulldown.png);
}
.dropload-up .dropload-update>span{
    background-image: url(../image/pullup.png);
}
.dropload-down .dropload-refresh>span{ 
    background-image: url(../image/pullup.png);
}
.dropload-down .dropload-update>span{
    background-image: url(../image/pullup.png);
}
.dropload-load .loading{
    background-size: 20px;
    background-image: url(../image/712.gif);
}