body, div, p, input, h1, h2, h3, h4, h5, h6, ol, ul, li, dl, dt, dd, form, button, select, textarea, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    vertical-align: middle;
    font-weight: normal;
}
img {
    margin: auto;
    display: block;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
a {
    text-decoration: none;
    color: #333;
}
/*去除input默认样式*/
input[type="button"], input[type="submit"], input[type="reset"],textarea,input,button,select{
    -webkit-appearance: none;
    border:0;
    outline:none;
}
/*去除input属性type=number时候后面的额上下小尾巴*/
input[type=number] {
    -moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* 清除浮动 */
.clearfix:before, .clearfix:after {
    display: block;
    visibility: hidden;
    height: 0;
    content: "";
    clear: both;
}
.clearfix {
    zoom: 1;
}
html {
    width: 100%;
    height: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}
body {
    color: #333;
    -webkit-user-select: none;
    -webkit-text-size-adjust: none;
    font-family: Arial,Helvetica,"Microsoft YaHei"!important;
    text-align: left;
    background-color: #f8f8f8;
    position: relative;
    max-width: 640px;
    margin: 0 auto;
    overflow: auto;
}

/* 隐藏滚动条 */
*::-webkit-scrollbar {
    display: none;
}

/* flex布局 */
.flex-wrap {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -ms-box;
    display: box;
    display: flex;
}
.flex-con {
    -webkit-box-flex: 1;
    -ms-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    box-flex: 1;
    flex: 1;
}
.flex-vertical {
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-flow: column;
    -flex-direction: column;
    flex-flow: column;
}
.border-t, .border-b, .border-l, .border-r {
    position: relative;
}
.border-t:before, .border-b:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: #e2e2e2;
    right: 0;
    height: 1px;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
.border-l::before, .border-r::after {
    content: '';
    position: absolute;
    bottom: 0;
    top: 0;
    background: #e2e2e2;
    left: 0;
    width: 1px;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
.border-b:after {
    top: auto;
    bottom: 0;
}
.border-r::after {
    right: 0;
    left: auto;
}
.aui-borer-card {
    position: relative;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    margin:0 auto;
}
.aui-borer-card:after {
    content: '';
    position: absolute;
    top: -50%;
    bottom: -50%;
    left: -50%;
    right: -50%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    border: 1px solid #000;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
#footer {
    background-color: #fff;
    width: 100%;
    z-index: 3;
    position: fixed;
    left: 0;
    bottom: 0;
}
/* 主内容区域 */
/* .index-top{
    height: 48px;
    background-color: #16CFC0;
    position: fixed;
    left:0;
    top:38px;
    width: 100%;
    z-index: 3;
}
.index-top .logo{
    float: left;
    height: 48px;
    width: 68px;
}
.index-top .logo img{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin:5px auto;
}
.index-top .search-box{
    height: 48px;
    padding-left: 68px;
    padding-right: 16px;
}
.index-top .search-box input{
    padding:8px 10px;
    margin:7px auto;
    border: 1px solid #fff;
    background-color: rgba(0,0,0,0);
    width: 100%;
    padding-right: 45px;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 0;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.index-top .search-box .search-btn{
    position: absolute;
    width: 40px;
    height: 33px;
    top: 7px;
    right: 16px;
    background: url(../image/icon-search.png) no-repeat;
    background-size: 22px;
    background-position: center;
}
.index-top .search-box input::-webkit-input-placeholder {
    color: #fff;
    text-align: left;
}
.index-top .search-box input::-moz-placeholder {
    color: #fff;
    text-align: left;
}
.index-top .search-box input:-ms-input-placeholder {
    color: #fff;
    text-align: left;
}
.index-top .search-box input:-moz-placeholder {
    color: #fff;
    text-align: left;
} */
.index-main{
    padding-bottom: 45px;
}
.index-main.nomenu{
    top:0;
}
.search-box{
    padding: 10px 3.5%;
    background-color: #F8F8F8;
}
.search-box form{
    position: relative;
}
.search-box input{
    padding: 10px;
    border:1px solid #E4E4E4;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    width: 100%;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    background-color: #fff;
}
.search-box .search-btn{
    position: absolute;
    right: 0;
    top: 0;
    width: 37px;
    height: 37px;
    background: url(../image/icon_search.png) no-repeat center;
    background-size: 20px;
}
.banner img{
    width: 100%;
}
.banner .swiper-container-horizontal>.swiper-pagination-bullets, .banner .swiper-pagination-custom, .banner .swiper-pagination-fraction{
    bottom: 5px;
}
.banner .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
    margin:0 3px;
}
.swiper-pagination-bullet-active{
    background-color: #fff;
}

.fenlei-nav ul{
    overflow: hidden;
    background-color: #fff;
    padding-top: 10px;
}
.fenlei-nav ul li{
    float: left;
    width: 25%;
    text-align: center;
    margin-bottom: 5px;
}
.fenlei-nav ul li a{
    display: block;
}
.fenlei-nav ul li img{
    height: 55px;
    width: 55px;
    margin:0 auto;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.fenlei-nav ul li p{
    line-height: 2;
    font-size: 13px;
}
.notice-txt{
    height: 42px;
    background-color: #fff;
    margin-top: 5px;
    overflow: hidden;
    position: relative;
}
.notice-txt span{
    font-size: 16px;
    line-height: 42px;
    color: red;
    padding:0 8px 0 12px;
    float: left;
    font-weight: bold;
    letter-spacing: 2px;
    width: 60px;
}
.t_news {
    height: 42px;
    color: #fff;
    margin: 0;
    overflow: hidden;
    position: absolute;
    background: url(../image/notice.png) no-repeat;
    background-size: 18px;
    background-position: left center;
    padding-left: 26px;
    left:60px;
    right: 0;
    top:0;
}
.news_li {
    line-height: 42px;
    display: inline-block;
     position: absolute;
    top: 0;
    left:25px;
    right: 0; 
}
.news_li li{
    overflow: hidden;
    line-height: 43px;
}
.news_li a {
    color: #333;
    font-size: 13px;
    text-decoration: none;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 90%;
}

.hot-product .title {
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: relative;
}
.hot-product .title:before{
    height: 1px;
    content: '';
    width: 50%;
    position: absolute;
    left:25%;
    top:50%;
    background-color: #ccc;
    z-index: 0;
}
.hot-product .title>span {
    display: inline-block;
    padding: 0 10px;
    background-color: #F4F5F7;
    color: #555;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    position: relative;
    z-index: 0;
}
.goods-show {
    padding: 0 1.6%;
    padding-bottom: 10px;
}
.goods-show .img-box {
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    background-color: #f2f2f2;
}
.goods-show img {
    display: block;
    width: 100%;
    margin: 0 auto;
}
.goods-show a {
    text-decoration: none;
    color: #333;
    display: block;
}
.goods-show li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 4px;
}
.goods-show ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.goods-show li a {
    // border: 1px solid #E5E5E5;
    padding: 4px;
    background-color: #fff;
}
.goods-show li a .tag {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    background-color: #fc9292;
    color: #fff;
    text-align: center;
    width: 70px;
    line-height: 1.3;
}
.goods-show li a .sale-number {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 5px;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    text-align: center;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
}
.goods-show li .intro {
    position: relative;
    padding: 5px 5px 3px;
}
.goods-show li h4 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    line-height: 1.6;
}
.goods-show li p.price {
    font-size: 16px;
    color: #FF4F48;
    width: 95%;
    line-height: 26px;
    font-weight: normal;
    letter-spacing: -0.5px;
}
.goods-show li p.price b{
    font-size: 12px;
    font-weight: normal;
}
.goods-show li p.price del{
    font-size: 12px;
    font-weight: normal;
    color: #999;
    margin-left: 5px;
}
.goods-show li .buy-btn {
    background-color: #FF8132;
    width: 60px;
    height: 26px;
    line-height: 28px;
    text-align: center;
    color: #fff;
    font-size: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    position: absolute;
    bottom: 3px;
    right: 3px;
}
.goods-view1 li {
    margin-bottom: 5px;
}
.goods-view2 li {
    width: 50%;
    float: left;
    box-sizing: border-box;
}
.goods-view2 li a {
    background-color: #fff;
    margin: 0 auto;
    padding: 1px;
}
.goods-view2 li h4 {
    display: -webkit-box !important;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: normal;
    font-size: 14px;
    line-height: 1.5;
    height: 41px;
}
.goods-view2 li .buy-btn {
    width: 50px;
    height: 22px;
    line-height: 22px;
    bottom: 5px;
    font-size: 12px;
}
.goods-view3 li {
    width: 50%;
    float: left;
    padding: 5px;
}
.goods-view3 li:nth-of-type(3n+1) {
    width: 100%;
}
.goods-view3 li a {
    background-color: #fff;
    padding: 2px;
}
.goods-view3 li h4 {
    display: -webkit-box !important;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: normal;
    font-size: 14px;
    line-height: 1.5;
    height: 41px;
}
.goods-view3 li:nth-of-type(3n+1) h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    line-height: 1.5;
    height: auto;
    display: block !important;
}
.goods-view3 li:nth-of-type(3n+1) a {
    padding: 4px;
}
.goods-view3 li .buy-btn {
    width: 50px;
    height: 22px;
    line-height: 22px;
    bottom: 5px;
    font-size: 12px;
}
.goods-view3 li:nth-of-type(3n+1) .buy-btn {
    width: 60px;
    height: 26px;
    line-height: 26px;
    bottom: 3px;
    font-size: 13px;
}
.goods-view4 li{
    padding: 5px;
}
.goods-view4 li a {
    overflow: hidden;
    display: box;
    display: -ms-box;
    display: -webkit-box;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
}
.goods-view4 li .img-box {
    width: 40%;
}
.goods-view4 li .intro {
    -webkit-box-flex: 1;
    -ms-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    box-flex: 1;
    flex: 1;
}
.goods-view4 li h4 {
    display: -webkit-box !important;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    white-space: normal;
    font-size: 14px;
    line-height: 1.5;
}
.goods-show .goods-view4 li p.price {
    position: absolute;
    left:6px;
    bottom: 4px;
}
.goods-view4 li .buy-btn {
    right: 8px;
    bottom: 8px;
}

.see-allgoods{
    text-align: center;
    background-color: #f0f0f0;
    margin: 7px auto 0;
    width: 98%;
    padding: 5px 0;
    font-size: 14px;
    color: #089CFE;
}
.see-allgoods:active{
    background-color: #eee;
}
.see-allgoods a {
    color: #333;
}
