
.DS_Store
.well-known
.project
.htaccess
upload/*
upload
plumpma/*
public/build/*
public/hxm/*
.idea/*
.git/*
sites/app/storage/*
sites/app/storage/file/*
#sites/app/config/mysql.php
sites/app/config/redis.php
sites/app/plugin/install/temp/*
#sites/default/settings.php
sites/default/files/*
uc_client/data/cache/*