body, div, p, input, h1, h2, h3, h4, h5, h6, ol, ul, li, dl, dt, dd, form, button, select, textarea,article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    vertical-align: middle;
    font-weight: normal;
}
img {
    margin:auto;
    display: block;
    vertical-align: top;
}
/*消除transition闪屏*/
.css{
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
}
/*
开启硬件加速
解决页面闪白
保证动画流畅*/
.css {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
body {
    color: #333;
    -webkit-user-select: none;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    font: normal 14px/160% helvetica, arial, "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑", sans-serif;
    text-align: left;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{
    display: block;
}
a {
    text-decoration: none;
    color: #333;
}

/*去除input默认样式*/
input[type="button"], input[type="submit"], input[type="reset"],textarea,input,button,select{
    -webkit-appearance: none;
    border:0;
    outline:none;
}
/*去除input属性type=number时候后面的额上下小尾巴*/
input[type=number] {
    -moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* 清除浮动 */
.clearfix:before,.clearfix:after {
    display: block;
    visibility: hidden;
    height: 0;
    content: "";
    clear: both;
}
.clearfix {
    zoom: 1;
}
html{
    width: 100%;
    height: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}
body{
    background-color: #fff;
    height: 100%;
    position: relative;
    max-width: 750px;
    margin:0 auto;
}
/* 隐藏滚动条 */
*::-webkit-scrollbar{
    display: none;
}
/* 改变盒子模型 */
.box-sizing{
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    box-sizing:border-box;
}
/* flex布局 */
.flex-wrap {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: -webkit-box;
      display: -ms-box;
      display: box;
      display: flex;
      -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.flex-con {
      -webkit-box-flex: 1;
      -ms-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      box-flex: 1;
      flex: 1;
}
.flex-vertical {
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-flow: column;
    -flex-direction: column;
    flex-flow: column;
}
.border-t, .border-b,.border-l,.border-r {
    position: relative;
}
.border-t:before, .border-b:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: #e2e2e2;
    right: 0;
    height: 1px;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
.border-l::before,.border-r::after{
    content: '';
    position: absolute;
    bottom: 0;
    top: 0;
    background: #e2e2e2;
    left: 0;
    width: 1px;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
.border-b:after {
    top: auto;
    bottom: 0;
}
.border-r::after{
    right:0;
    left:auto;
}
#main{
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}