@charset "utf-8";
.pagination{
    margin: 10px;
    text-align: center;
}
.pagination a {
    text-decoration: none;
    border: none;
    color: #000;
    background: #dcdcdc;
    border-radius: 2px;
}

.pagination a, .pagination span {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px 8px;
    line-height: 1.05;
}

.pagination .current ,.pagination a:hover{
    background: #ff7200;
    color: #fff;
    border-radius:2px;
}

.pagination .current.prev, .pagination .current.next{
    color:#999;
    border-color:#999;
    background-color: rgba(0,0,0,0);
}
.alert-danger{
    display:none;
}
