.index-wrap {padding:10px 0!important;}
.tab-content{z-index:1!important;}
small{font-size:72%!important;}
.sidebar{top:0;}
.main-container { top: 60px; }
div.navbar {z-index:2; border-top: none; background-color: #fff; margin-left:140px;box-shadow: 6px 0 6px #eee;height:60px;line-height:60px;}
.navbar-brand{height:60px;line-height:60px!important;padding:0 12px!important;} 
.navbar .navbar-brand,.navbar .navbar-brand:hover,.navbar .navbar-brand:active {color:#111!important;}
.dropdown-menu.dropdown-close{top:100%!important;}

.widget-toolbar > .dropdown > .dropdown-menu.pull-right::before, .dropdown-menu.pull-right.dropdown-caret::before { right: 24px; }
.breadcrumbs { border-bottom: 1px solid #e5e5e5; background-color: #feffff; }
.help-center-box { border-top: 1px solid #e5e5e5; }
.user-info { top: 9px; }
.ace-nav>li { border-left: 1px solid #3C545E; }
.ace-nav>li.grey>a, .ace-nav>li.purple>a { background-color: #fff; }
.ace-nav > li.light-blue > a { background-color: #fff !important; }
.ace-nav > li > a ,.ace-nav > li.open > a{color:#666!important;}
.ace-nav > li > a > [class*="icon-"]{color:#666;}
.ace-nav>li.grey>a:visited, .ace-nav>li.purple>a:visited { background-color: #fff !important; }
.ace-nav>li.light-blue>a:visited { background-color:#fff!important; }
.ace-nav>li.grey>a:hover, .ace-nav>li.purple>a:hover, .ace-nav>li.light-blue>a:hover { background-color: #fff !important; }
.ace-nav>li.grey>a:active, .ace-nav>li.purple>a:active, .ace-nav>li.light-blue>a:active { background-color: #fff !important; }
.ace-nav>li.open.grey>a, .ace-nav>li.open.purple>a, .ace-nav>li.open.light-blue>a { background-color: #fff !important; }
.ace-nav .nav-user-photo { border: none; }
.sidebar { background-color: #2c354c;top:0;border:0;}
.logo-show span { color: #fff; }
.sidebar-collapse { background-color: #2c354c; }
.sidebar-collapse:before { border-top-color: #fff; }
.sidebar-collapse > [class*="icon-"] { border-top-color: #fff; color: #709993; }
.sidebar-shortcuts { background-color: #709993; }

.menu-min .nav-list > li > .submenu li > a > [class*="icon-"]:first-child{left:0!important;}
.menu-min .nav-list > li .submenu > li a > [class*="fa-"]:first-child {left:0px!important;}
.nav-list > li.active {background-color: #2c354c!important;}
.nav-list > li { border: none; }
.nav-list > li > a { background-color: #2c354c; color: #fff; }
.nav-list > li > a:hover { color: #fff; background-color: #3a4560; }
.nav-list > li a > .arrow { color: #fff; }
.nav-list > li.open > a, .nav-list > li.open > a:hover { color: #fff; background-color: #3a4560; }
.nav-list .open > a:visited { color: #fff; background-color: #3a4560; }
.nav-list .open > a, .nav-list .open > a:hover, .nav-list .open > a:focus { color: #fff; background-color: #3a4560; }
.nav-list .open > a:active { color: #fff; background-color: #3a4560; }
.nav-list > li a:hover > .arrow, .nav-list > li.active > a > .arrow, .nav-list > li.open > a > .arrow { color: #fff; }
.nav-list > li .submenu > li > a { color: #fff; }
.nav-list>li .submenu>li{background-color: #2c354c;}
.nav-list>li>.submenu li.open>a, .nav-list>li .submenu>li.active>a { background-color: #3a4560; }
.nav-list > li .submenu, .nav-list > li .submenu > li > a, .nav-list > li > .submenu > li:first-child > a { border: none; }
.nav-list > li .submenu > li > a:hover { color: #fff !important; background-color: #3a4560; }
.nav-list > li .submenu > li a > [class*="icon-"]:first-child { background-color: rgba(0, 0, 0, 0); }
.nav-list>li> .submenu li.open>a { color: #fff !important; background-color: #3a4560 !important; }
.nav-list li.active>a:after { border-right-color:#3a4560; }
.nav-list>li.active:after {right: 0;border: 2px solid #2b7dbc!important; }
.nav-list > li .submenu > li.active > a > [class*="icon-"]:first-child { color: #fff; }
.nav-list > li.active > a, .nav-list > li.active > a:hover, .nav-list > li.active > a:focus, .nav-list > li.active > a:active { background-color:#3a4560; color: #fff; }


/*隐藏快捷菜单*/
#sidebar-shortcuts { line-height: 25px; }
textarea.form-control { resize: none; }
.ke-statusbar-right-icon { display: none !important; }
.index-main .pagination { margin: 0; }
.preview-page { padding-bottom: 60px !important; }
td p { margin: 0 0 3px; }
.index-main>div[data-left-preview] { position: relative; }
.index-main>div[data-left-preview].cur-edit::after, .index-main >div[data-left-preview].cur-edit:hover::after { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 2px dashed #FC7C7C; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; z-index: 10; cursor: pointer; }
.index-main>div[data-left-preview]:hover::after { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 2px dashed #FC7C7C; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; z-index: 10; cursor: pointer; }
.index-main>div[data-left-preview]:hover::before { content: '编辑'; position: absolute; top: 0; right: 0; width: 56px; height: 30px; line-height: 32px; text-align: center; color: #fff; padding-right: 12px; background: url(/public/wxapp/images/icon_edit_white.png) no-repeat 90% center; background-size: 12px; background-color: #118bfb; font-size: 13px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; z-index: 10; cursor: pointer; }

/*tab切换样式优化*/
.tabbable .nav-tabs{border-bottom: none;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{ box-shadow: none;border-color:#e3e3e3; border-top: 4px solid #008cf6;}
.tabbable .tab-content{border:none;}
.nav-tabs > li > a{padding: 10px 15px;}
.nav-tabs > li > a, .nav-tabs > li > a:focus{border-color: #e3e3e3;}

.btn-sm{padding: 6px 8px;}
.btn-blue, .btn-blue:focus { background-color: #008cf6 !important; border-color: #0080f6; }
.btn-blue:hover, .open .btn-blue.dropdown-toggle { background-color: #008cf6 !important; border-color: #0080f6; }
.btn-blueoutline, .btn-blueoutline:focus{ background-color: rgba(0, 0, 0, 0) !important; color: #0080f6 !important; border-color: #0080f6; text-shadow: none !important; }
.btn-blueoutline:hover, .open .btn-blueoutline.dropdown-toggle { background-color: #008cf6 !important; border-color: #0080f6!important; color: #fff!important;}
.btn-lightblue, .btn-lightblue:focus { background-color: #e0effa !important; border-color: #e0effa; color: #0080f6!important;text-shadow: none!important;}
.btn-lightblue:hover, .open .btn-lightblue.dropdown-toggle { background-color: #e0effa !important; border-color: #e0effa;color: #0080f6!important;text-shadow: none!important;}

.cus-part-item{box-shadow: 0 0 10px #eee;border-radius: 4px;background-color: #fff;margin-bottom: 10px;box-sizing: border-box;padding:12px;}
.cus-part-item .opera-btn-box{margin-bottom: 10px;}
.search-part-wrap{background-color: #f9f9f9;border-radius: 3px;padding:8px 10px;margin-top: 10px;}
.search-part-wrap .search-input-item{display: inline-block;vertical-align: middle;margin:5px;}
.search-part-wrap .input-item-group .input-item-addon { border-radius: 0 !important; background-color: #f9f9f9; border: none;display: inline-block;vertical-align: middle; margin-right: 5px;}
.search-part-wrap .input-item-group .input-form{display: inline-block;vertical-align: middle;position: relative;}
.search-part-wrap .input-item-group .input-form .icon-calendar{ position: absolute; right: 9px; top: 50%; transform: translateY(-50%); }
.search-part-wrap .input-item-group .form-control { font-size:13px;border-color: #e5e5e5; border-radius: 3px !important;margin:0; width: 180px; box-shadow: none!important;height: 36px;}
.search-part-wrap .search-btn button{padding: 6px 10px;font-size: 13px;outline: none;}

.cus-part-item .table{border:none;}
.cus-part-item .fixed-table-box{overflow: visible;}
.cus-part-item .fixed-table-body{border:none;overflow: visible;}
.cus-part-item .table thead tr th{line-height: 2;border-top:none!important;border-bottom: 1px solid #eee!important;text-align: left;background-color: #fff;padding:15px 0;font-size: 13px;}
.cus-part-item .table tbody td{border-bottom: 1px solid #eee;padding: 20px 0;text-align: left!important;vertical-align: top;}
.cus-part-item .table tbody td .td-top-info{min-height: 80px;}
.cus-part-item .table tbody td p{margin-bottom: 5px;text-align: center;}
.cus-part-item .table tbody td p.left{text-align: left;}
.cus-part-item .table tbody td .tab-txt{font-size: 0;}
.cus-part-item .table tbody td .tab-txt span{display: inline-block;vertical-align: top;font-size: 12px;white-space: nowrap;color: #333;}
.cus-part-item .table tbody td .tab-txt .lab-name{color: #aaa;min-width: 55px;max-width: 150px;white-space: normal;padding-right: 5px;box-sizing: border-box;}
.cus-part-item .table tbody td .tab-txt .lab-name.left{text-align: left;}
.cus-part-item .table tbody td .lab-txt{color: #666;max-width: 130px;white-space: normal;text-align: left;min-width: 70px;}
.cus-part-item .table tbody td .txt-link a{ color: #008df2;}
.cus-part-item .table tbody td .pagination{margin:0;}
.cus-part-item .table tbody tr:last-child td{border-bottom: none;}

/*分页颜色*/
/*.page-part-wrap{ text-align: right;}*/
.page-part-wrap .pagination a{color: #666;background-color: #f0f0f0;}
.page-part-wrap .pagination .current,.page-part-wrap .pagination a:hover{background-color: #008df2;}
.page-part-wrap .pagination a,.page-part-wrap .pagination span{margin-bottom: 0;}

/*底部操作悬浮*/
.bottom-opera-fixd { position: fixed; left: 50%; width: 860px; bottom: 0; z-index: 15; background-color: #fff; border-radius: 4px; box-shadow: 0 0 10px #ddd; padding: 0 15px; margin-left: -430px; }
.bottom-opera-fixd .pagination{margin: 10px 0;}
.bottom-opera-fixd .bottom-opera{display: table;width: 100%;}
.bottom-opera-fixd .bottom-opera-item{display: table-cell;vertical-align: middle;}

/*提示信息公共样式*/
.introduce-tips{
	margin-top:10px;
	position:relative;
	z-index:2;
}
.introduce-tips .tips-btn span{
	color:#666;
	font-size:14px;
	vertical-align: middle;
}	
.introduce-tips .tips-btn img{
	display:inline-block;
	width:16px;
	height:16px;
	margin-left:5px;
	vertical-align: middle;
}
.introduce-tips:hover .tips-con-wrap{
	display:block;
}
.introduce-tips .tips-con-wrap{
	position:absolute;
	top:35px;
	left:0;
	display:none;
}
.introduce-tips .tips-con{
	display:inline-block;
	background-color:rgba(85,85,85,0.7);
	color:#fff;
	font-size:12px;
	letter-spacing: 1px;
	padding:10px;
	border-radius:4px;
	max-width:400px;
	line-height:1.5;		
}
.introduce-tips .triangle_border_up{
    width:0;
    height:0;
    border-width:0 8px 8px;
    border-style:solid;
    border-color:transparent transparent rgba(0,0,0,0);/*透明 透明  灰*/
    position:relative;
}
.introduce-tips .triangle_border_up span{
    display:block;
    width:0;
    height:0;
    border-width:0 8px 8px;
    border-style:solid;
    border-color:transparent transparent rgba(85,85,85,0.7);/*透明 透明  黄*/
    position:absolute;
    top:-18px;
    left:0;
}