html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    list-style: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

/* HTML5 媒体文件跟 img 保持一致 */
audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
address, caption, cite, code, dfn, em, th {
    font-style: normal;
    font-weight: normal;
}
html {
    color: #333;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: 100%;
}
/* IE6对positon:fixed的单独处理修正IE6滚动抖动的bug */
*html, *html body {
    background-image: url(about:blank);/*修正IE6滚动抖动的bug*/
    background-attachment: fixed;/*根据自己实际，非必需*/
}

/* 要注意表单元素并不继承父级 font 的问题 */
body, button, input, select, textarea, h1,h2,h3,h4,h5,h6{
    color: #333;
    outline: none;
    background-color: #fff;
    font: 14px/160% "Microsoft Yahei","Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}
input, select, textarea {
    font-size: 100%;
}

/* 重置button边框 */
button {
    border: none;
}

/* 去掉各Table cell 的边距并让其边重合 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* IE bug fixed: th 不继承 text-align*/
th {
    text-align: inherit;
}

/* 对齐是排版最重要的因素, 别让什么都居中 */
caption, th {
    text-align: left;
}

/* 去除默认边框 */
fieldset, img {
    border: none;
    outline: none;
    -moz-outline: none;
}

/* ie6 7 8(q) bug 显示为行内表现 */
iframe {
    display: block;
}
nav ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    color: #333;
    cursor: pointer;
    outline: none;
    text-decoration: none;
}
a:hover{
    opacity: 0.9;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90);  
}
img{
    display: block;
    border: 0;
}
/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #333;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #333;
    font-style: italic;
    font-weight: bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}
input, select {
    vertical-align: middle;
}

/* 清除浮动 */
.clearfix:before, .clearfix:after {
    display: block;
    visibility: hidden;
    height: 0;
    content: "";
    clear: both;
}
.clearfix {
    zoom: 1;
}

/*解决盒模型问题css3属性也可用来统一FORM元素风格*/
.box-sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

/* 主内容样式 */
.flex-wrap {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}
.flex-con {
    -webkit-box-flex: 1;
    -moz-box-flex:1;
    -webkit-flex: 1;
    -ms-flex:1;
    flex: 1;
}
.flex-vertical {
    -webkit-box-orient: vertical;
    -webkit-flex-flow: column;
    flex-flow: column;
}
.border-t, .border-b,.border-l,.border-r {
    position: relative;
}
.border-t:before, .border-b:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: #e2e2e2;
    right: 0;
    height: 1px;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
.border-l::before,.border-r::after{
    content: '';
    position: absolute;
    bottom: 0;
    top: 0;
    background: #e2e2e2;
    left: 0;
    width: 1px;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
.border-b:after {
    top: auto;
    bottom: 0;
}
.border-r::after{
    right:0;
    left:auto;
}

.btn {
    display: inline-block;
    color: #FFF !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
    background-image: none !important;
    border: 1px solid #FFF;
    border-radius: 0;
    box-shadow: none !important;
    -webkit-transition: all ease .15s;
    transition: all ease .15s;
    cursor: pointer;
    vertical-align: middle;
    margin: 0;
    position: relative;
    padding: 6px 12px;
}