body, div, p, input, h1, h2, h3, h4, h5, h6, ol, ul, li, dl, dt, dd, form, button, select, textarea, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    vertical-align: middle;
    font-weight: normal;
}
img {
    margin: auto;
    display: block;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
a {
    text-decoration: none;
    color: #333;
}

/*去除input默认样式*/
input[type="button"], input[type="submit"], input[type="reset"], textarea, input, button, select {
    // -webkit-appearance: none;
    border: 0;
    outline: none;
}

/*去除input属性type=number时候后面的额上下小尾巴*/
input[type=number] {
    -moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* 清除浮动 */
.clearfix:before, .clearfix:after {
    display: block;
    visibility: hidden;
    height: 0;
    content: "";
    clear: both;
}
.clearfix {
    zoom: 1;
}
html {
    width: 100%;
    height: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}
body {
    color: #333;
    -webkit-user-select: none;
    -webkit-text-size-adjust: none;
    font: normal 14px/180% arial, helvetica, "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑", sans-serif;
    text-align: left;
    background-color: #F4F5F7;
    position: relative;
    margin: 0 auto;
    overflow: auto;
}

/* 隐藏滚动条 */
 .index-main::-webkit-scrollbar {
    display: none;
} 

/* flex布局 */
.flex-wrap {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -ms-box;
    display: box;
    display: flex;
}
.flex-con {
    -webkit-box-flex: 1;
    -ms-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    box-flex: 1;
    flex: 1;
}
.flex-vertical {
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-flow: column;
    -flex-direction: column;
    flex-flow: column;
}
.border-t, .border-b, .border-l, .border-r {
    position: relative;
}
.border-t:before, .border-b:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: #e2e2e2;
    right: 0;
    height: 1px;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
.border-l::before, .border-r::after {
    content: '';
    position: absolute;
    bottom: 0;
    top: 0;
    background: #e2e2e2;
    left: 0;
    width: 1px;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
.border-b:after {
    top: auto;
    bottom: 0;
}
.border-r::after {
    right: 0;
    left: auto;
}
.aui-borer-card {
    position: relative;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
}
.aui-borer-card:after {
    content: '';
    position: absolute;
    top: -50%;
    bottom: -50%;
    left: -50%;
    right: -50%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    border: 1px solid #000;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* 左侧编辑区域 */
div[data-left-preview].cur-edit{
    position: relative;
}
div[data-left-preview].cur-edit::after,div[data-left-preview].cur-edit:hover::after{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    border:2px dashed #FC7C7C;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 10;
    cursor: pointer;
}
/* div[data-left-preview]:hover::after{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    border:3px dashed #aaa;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 10;
    cursor: pointer;
} */
.index-con {
	padding: 0;
	height: 480px;
	position: relative;
}
.index-con .index-main {
	height: 480px;
	background-color: #f4f5f6;
	overflow: auto;
}
.shop-intro{
    position: relative;
    overflow: hidden;
}
.shop-intro>img{
    width: 100%;
} 
.shop-intro .shop-name{
    top: 31%;
    position: absolute;
    left: 0;
    z-index: 2;
    width: 100%;
    margin-top: -35px;
}
.shop-intro .shop-name .logo{
    display: block;
    vertical-align: top;
    width: 70px;
    height: 70px;
    border:1px solid #fff;
    padding: 2px;
    -webkir-border-radius:50%;
    border-radius:50%;
    overflow: hidden;
    margin:0 auto;
}
.shop-intro .shop-name .logo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.shop-intro .shop-name .name{
    color: #fff;
    font-size: 14px;
    display: block;
    text-align: center;
}
.shop-intro .menu-wrap{
  display: table;
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3)
}
.shop-intro .menu-item{
  padding: 3px 0 2px;
  display: table-cell;
  width: 1000px;
  text-align: center;
}
.shop-intro .menu-item img{
  width: 26px;
  height: 26px;
  margin:0 auto;
}
.shop-intro .menu-item span{
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  display: block;
}
.shop-intro .short-bg{
    background:url(../images/bg.png) no-repeat;
    background-size: 100%;
    background-position: bottom center;
    position: absolute;
    left:0;
    bottom: -7px;
    width: 100%;
    height: 55px;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-filter: blur(4px); 
    -moz-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
    /*filter: url(blur.svg#blur); 
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=4, MakeShadow=false); */
}
.shop-intro .short-cut{
    padding:0;
    overflow: hidden;
    background-color: rgba(0,0,0,0);
    background-size: 100%;
    background-position: bottom center;
    position: absolute;
    left:0;
    bottom: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
.shop-intro .short-cut ul{
    padding-left: 90px;
    display: table;
}
.shop-intro .short-cut ul li{
    display: table-cell;
    width: 1000px;
    color: #fff;
}
.shop-intro .short-cut ul li a{
    color: #fff;
    line-height: 1.2;
    padding: 2px 0 5px;
    text-align: center;
    display: block;
}
.short-cut ul li p{
    height: 25px;
    line-height: 25px;
}
.fenlei-nav{
    margin-top: 10px;
}
.fenlei-nav h4{
    background-color: #fff;
    text-align: center;
    padding: 10px 0;
}
.fenlei-nav ul{
    overflow: hidden;
    background-color: #fff;
    font-size: 0;
    white-space: nowrap;
}
.fenlei-nav li {
    display: inline-block;
    width: 25%;
    text-align: center;
    margin-bottom: 5px;
}
.fenlei-nav li a {
    display: block;
}
.fenlei-nav li img {
    height: 60px;
    width: 60px;
    margin: 0 auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}
.fenlei-nav li p {
    line-height: 2;
    font-size: 13px;
}

.banner-box {
	width: 100%;
	position: relative;
    margin-top: 6px;
}
.banner-box img {
	width: 100%;
}
.pagination {
	text-align: center;
	position: absolute;
	bottom: 5px;
	width: 100%;
	left: 0;
	line-height: 1;
    margin: 0;
}
.pagination span {
	display: inline-block;
	height: 7px;
	width: 7px;
	border-radius: 50%;
	background-color: #fff;
	margin: 0 3px;
}
.pagination span.active {
	background-color: #F4555A;
}
.banner-box .search-wrap{
  width: 92%;
  margin: 0 auto;
  margin-bottom: 6px;
  border:1px solid #ddd;
  height: 36px;
  line-height: 36px;
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 2;
  text-align: center;
}
.banner-box .search-wrap img{
  height: 16px;
  width: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  position: relative;
  top: -2px;
}
.banner-box .search-wrap span{
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  color: #999;
}
.address-show{
  background-color: #fff;
  padding: 9px 13px;
  margin-bottom: 8px;
  margin-top: 5px;
}
.address-show span{
  color: #666;
  font-size: 13px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.address-show img{
  height: 25px;
}
/* 最新上架产品列表 */
.hot-product .title {
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: relative;
}
.hot-product .title:before{
    height: 1px;
    content: '';
    width: 60%;
    position: absolute;
    left:20%;
    top:50%;
    background-color: #ccc;
    z-index: 0;
}
.hot-product .title>span {
    display: inline-block;
    padding: 0 10px;
    background-color: #F4F5F7;
    color: #333;
    position: relative;
    z-index: 1;
}
.goods-show {
    padding: 0 1.6%;
    padding-bottom: 10px;
}
.goods-show .img-box {
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    background-color: #f5f5f5;
}
.goods-show img {
    display: block;
    width: 100%;
    margin: 0 auto;
}
.goods-show a {
    text-decoration: none;
    color: #333;
    display: block;
}
.goods-show li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2px;
}
.goods-show ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.goods-show li a {
    padding: 4px;
    background-color: #fff;
}
.goods-show li .intro {
    position: relative;
    padding: 5px 5px 3px;
}
.goods-show li h4 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    line-height: 1.6;
}
.goods-show li p.price {
    font-size: 12px;
    color: #FF2422;
    width: 60%;
    line-height: 26px;
}
.goods-show li p.price b{
    font-size: 16px;
    font-weight: normal;
}
.goods-show li .buy-btn {
    background-color: #F78336;
    width: 45px;
    height: 26px;
    line-height: 28px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    position: absolute;
    bottom: 3px;
    right: 3px;
}
.goods-view1 li {
    margin-bottom: 2px;
}
.goods-view2 li {
    width: 50%;
    float: left;
    box-sizing: border-box;
}
.goods-view2 li a {
    background-color: #fff;
    margin: 0 auto;
    padding: 2px;
}
.goods-view2 li h4 {
    display: -webkit-box !important;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: normal;
    font-size: 14px;
    line-height: 1.5;
    height: 41px;
}
.goods-view3 li {
    width: 50%;
    float: left;
}
.goods-view3 li:nth-of-type(3n+1) {
    width: 100%;
}
.goods-view3 li a {
    background-color: #fff;
    padding: 2px;
}
.goods-view3 li h4 {
    display: -webkit-box !important;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: normal;
    font-size: 14px;
    line-height: 1.5;
    height: 41px;
}
.goods-view3 li:nth-of-type(3n+1) h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    line-height: 1.5;
    height: auto;
    display: block !important;
}
.goods-view3 li:nth-of-type(3n+1) a {
    padding: 4px;
}
/*.goods-view3 li .buy-btn {
    width: 50px;
    height: 22px;
    line-height: 22px;
    bottom: 5px;
    font-size: 12px;
}*/
/*.goods-view3 li:nth-of-type(3n+1) .buy-btn {
    width: 60px;
    height: 26px;
    line-height: 26px;
    bottom: 3px;
    font-size: 13px;
}*/
.goods-view4 li a {
    overflow: hidden;
    position: relative;
}
.goods-view4 li img {
    width: 40%;
    float: left;
}
.goods-view4 li .intro {
    position: absolute;
    left: 42%;
    bottom: 3px;
    top: 0;
    right: 3px;
}
.goods-view4 li h4 {
    display: -webkit-box !important;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    white-space: normal;
    font-size: 14px;
    line-height: 1.5;
}
.goods-show li a .tag {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    background-color: #fc9292;
    color: #fff;
    text-align: center;
    width: 70px;
    line-height: 1.3;
}
.see-allgoods {
    text-align: center;
    background-color: #f0f0f0;
    margin: 5px auto 0;
    width: 98%;
    padding: 5px 0;
    font-size: 14px;
    color: #089CFE;
}
.see-allgoods:active {
    background-color: #eee;
}
.see-allgoods a {
    color: #089CFE;
}

/* 单选样式 */
.radio-box {
	max-width: 640px;
	text-align: left;
	padding: 0;
	margin: 0 auto;
	overflow: hidden;
}
.radio-box>span{
	display: inline-block;
	margin-right: 20px;
}
.radio-box input{
	display: none;
	outline:none;
	border:0;
	-webkit-appearance: none;
}
.radio-box input+label {
	padding-left: 25px;
	height: 40px;
	line-height: 40px;
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	font-weight: normal;
	font-size: 13px;
	cursor: pointer;
}
.radio-box input+label:after {
	content: '';
	height: 22px;
	line-height: 18px;
	text-align: center;
	width: 22px;
    background: url(../images/nocheck.png) no-repeat;
    background-size: 22px;
	color: #fff;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: 8px;
	box-sizing: border-box;
	background-color: #fff;
}
.radio-box input:checked+label:after {
	color: #06A6D9;
	font-size: 14px;
	font-weight: bold;
	background-image: url(../images/checked.png);
}

/* 底部导航样式 */
.index-con .footer-nav {
	height: 52px;
	border-top: 1px solid #eee;
}
.footer-nav ul {
	display: table;
}
.footer-nav ul li {
	display: table-cell;
	width: 1000px;
	text-align: center;
	padding-top: 30px;
	background: url('') no-repeat;
	background-size: 25px;
	background-position: center 5px;
	color: #666;
}
.footer-nav ul li.icon1 {
	background-image: url(../images/fnav01.png);
}
.footer-nav ul li.icon2 {
	background-image: url(../images/fnav02.png);
}
.footer-nav ul li.icon3 {
	background-image: url(../images/fnav03.png);
	background-size: 28px;
}
.footer-nav ul li.active {
	color: #05AF0F;
}
.footer-nav ul li.active.icon1 {
	background-image: url(../images/fnav-hover01.png);
}
.footer-nav ul li.active.icon2 {
	background-image: url(../images/fnav-hover02.png);
}
.footer-nav ul li.active.icon3 {
	background-image: url(../images/fnav-hover03.png);
	background-size: 28px;
}

