/* 优惠券详情 */
.coupon .about-card-desc{
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    color: #000;
}
.coupon-detail-wrap .promote-card{
    -webkit-tap-highlight-color: transparent;
    position: relative;
    padding-bottom: 5%;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fe314e), to(#fe6263));
    background: -moz-linear-gradient(to bottom, #fe314e, #fe6263);
    color: #fff;
    line-height: 1;
}
.coupon-detail-wrap .promote-card .dot{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: url("../images/dot.png") repeat-x left bottom;
    background-size: auto 5px;
}
.coupon-detail-wrap .promote-card .promote-card-name{
    font-size: 16px;
    line-height: 52px;
    padding-left: 10px;
    font-weight: normal;
}
.coupon-detail-wrap .promote-card .promote-share {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 50px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ffbabb;
    border-color: rgba(255,255,255,1.0);
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    color: rgba(255,255,255,1.0);
}
.coupon-detail-wrap .promote-card .promote-value {
    font-size: 30px;
    line-height: 40px;
    word-break: break-word;
}
.coupon-detail-wrap .promote-card .promote-limit{
    font-size: 12px;
    line-height: 40px;
    letter-spacing: 0.5px;
    display: none;
}
.coupon-detail-wrap .promote-card .promote-limit-date{
    font-size: 12px;
    line-height: 18px;
    color: rgba(255,255,255,0.5);
}
.promote-desc .promote-desc-title{
    padding: 10px 0 0 20px;
    font-size: 12px;
}
.promote-desc .block-item{
    margin:10px auto;
    padding:10px;
    border-top:1px solid #eaeaea;
    border-bottom:1px solid #eaeaea;
    background-color: #fff;
    font-size: 13px;
}
.use-btn{
    display: block;
    padding: 12px 10px;
    background-color: #fff889;
    border-color: #fff889;
    color: #333;
    font-size: 14px;
    margin:15px auto 0;
    border-radius: 4px;
    text-align: center;
    width: 40%;
}
.use-btn:active{
    opacity: 0.9;
}