body{
    background-color: #f0f0f0;
}
.coupon-list{
    background-color: #fff;
    padding: 12px 0;
}
.coupon-list li {
    background-color: #fff;
    color: #fff;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -ms-box;
    display: box;
    display: flex;
    padding: 0 3.5%;
    margin-bottom: 12px;
}
.coupon-list li:last-child{
    border-bottom:none;
    margin-bottom: 0;
}
.coupon-info {
    // background-color: #D53044;
    background-color: #FD2E4C;
    padding: 13px 0;
    -webkit-box-flex: 1;
    -ms-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    box-flex: 1;
    flex: 1;
    position: relative;
}
.left-semicircle{
    height: 16px;
    width: 16px;
    position: absolute;
    left:-8px;
    top:50%;
    margin-top: -8px;
    background-color: #fff;
    border-radius: 0 8px 8px 0;
    overflow: hidden;
}
.face-value{
    width: 34%;
    float: left;
    border-right:1px dashed #fff;
    height: 65px;
    margin-top: 5px;
    padding:10px 5px 9px 8px;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.face-value span{
    display: block;
    font-size: 23px;
    letter-spacing: -0.5px;
}
.useing-limit{
    padding-left: 38%;
    font-size: 12px;
}
.useing-limit p{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.opera-box{
    width: 24%;
    text-align: center;
    background-color: #262626;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.opera-box>div{
    width: 100%;
}
.opera-box .coupon-btn{
    display: block;
    border:1px solid #fff;
    border-radius: 3px;
    color: #fff;
    padding: 7px 0;
    width: 70%;
    margin:10px auto;
    line-height: 1.2;
    font-size: 12px;
}