/* 去除input默认样式 */
/* input,button,select,textarea{
    outline:none;
    border:0;
    -webkit-appearance: none;
} */
input[type=number] {
    -moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.index-con{
	padding:0;
	position: relative;
}

.index-top .logo{
	float: left;
	height: 48px;
	padding:0 10px;
}
.index-top .logo img{
	height: 38px;
    margin: 5px auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.index-top .search{
	height: 48px;
	margin-left: 58px;
	position: relative;
}
.index-top .search input{
	padding: 6px 10px;
	margin: 6px 0;
	border: 1px solid #fff;
	background-color: rgba(0,0,0,0);
	width: 95%;
	padding-right: 45px;
	color: #fff;
}
.index-top .search input::-webkit-input-placeholder { color: #fff; text-align: left; }
.index-top .search input::-moz-placeholder { color: #fff; text-align: left; }
.index-top .search input:-ms-input-placeholder { color: #fff; text-align: left; }
.index-top .search input:-moz-placeholder { color: #fff; text-align: left; }
.index-top .search .search-btn{
	position: absolute;
	width: 40px;
	height: 33px;
	top: 7px;
	right: 14px;
	background: url(../images/icon-search.png) no-repeat;
	background-size: 22px;
	background-position: center;
}
.index-con .index-main{
	height: 400px;
	background-color: #f6f6f6;
	overflow: auto;
}
 .index-main::-webkit-scrollbar {
    display: none;
} 
.adimg-con{
	width: 100%;
	height: 152px;
	position: relative;
	display: block!important;
}
.adimg-con img{
	width: 100%;
	height: 100%;
}
.ad-pagination{
	text-align: center;
	position: absolute;
	bottom: 5px;
	width: 100%;
	left:0;
	line-height: 1;
}
.ad-pagination span{
	display: inline-block;
	height: 7px;
	width: 7px;
	border-radius: 50%;
	background-color: rgba(5,175,15,.2);
	margin:0 3px;
}
.ad-pagination span.active{
	background-color: rgba(5,175,15,.8);
}
/* 搜索样式 */
.search-box-wrap{
    padding: 10px 3.5%;
    background-color: #F8F8F8;
}
.search-box-wrap form{
    position: relative;
}
.search-box-wrap input{
    padding: 10px;
    border:1px solid #E4E4E4;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    width: 100%;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    background-color: #fff;
    height: 37px;
}
.search-box-wrap .search-btn{
    position: absolute;
    right: 0;
    top: 0;
    width: 37px;
    height: 37px;
    background: url(../images/icon_search.png) no-repeat center;
    background-size: 20px;
    outline: none;
    border:none;
}
/* 分类导航 */
.fenlei-nav ul{
	overflow: hidden;
	background-color: #fff;
	padding-top: 10px;
	min-height: 100px;
}
.fenlei-nav ul li{
	float: left;
	width: 25%;
	text-align: center;
	margin-bottom: 5px;
	color: #666;
}
.fenlei-nav ul li a{
	display: block;
	color: #666;
	text-decoration: none;
}
.fenlei-nav ul li img{
	height: 60px;
	width: 60px;
	margin:0 auto;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}
.fenlei-nav ul li p{
	line-height: 2;
	font-size: 13px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	height: 26px;
}
.notice-txt{
	height: 35px;
	background-color: #fff;
	margin-top: 5px;
}
.notice-txt span{
	font-size: 16px;
	line-height: 35px;
	color: red;
	padding:0 10px;
	float: left;
	font-weight: bold;
	letter-spacing: 2px;
}
.t_news {
	height: 35px;
	color: #fff;
	margin: 0;
	margin-left: 60px;
	overflow: hidden;
	position: relative;
	background: url(../images/notice.png) no-repeat;
	background-size: 18px;
	background-position: left center;
	padding-left: 30px;
}
.news_li {
	line-height: 35px;
	display: inline-block;
	position: absolute;
	top: 0;
	left:28px;
	right: 0;
}
.news_li a {
	color: #333;
	font-size: 13px;
	text-decoration: none;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
/* 新增拼团 */
.pintuan-list {
    position: relative;
    cursor: pointer;
}
.pintuan-list .del-tuanitem{
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top:3px;
    right: 3px;
    color: #fff;
    text-align: center;
    height: 28px;
    line-height: 28px;
    width: 50px;
    display: none;
    z-index: 12;
}
.pintuan-list.cur-edit .del-tuanitem{
    display: block;
}
.pintuan-list>h4{
    background-color: #fff;
    overflow: hidden;
    padding: 5px 3%;
    margin-top: 6px;
    border-bottom: 1px solid #eee;
    font-weight: normal;
}
.pintuan-list>h4 span{
    border-left:3px solid #C71315; 
    padding-left: 3px;
    line-height: 25px;
    font-size: 14px;
}
.pintuan-list>h4 .more{
    float: right;
    color: #999;
    font-size: 12px;
    width: 20%;
    text-align: right;
    line-height: 25px;
}
.pintuan-list li{
    padding:10px 3%;
    background-color: #fff;
    margin-bottom: 6px;
    border-bottom: 1px solid #eee;
}
.pintuan-list li a{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    display: block;
    color: #333;
}
.pintuan-list li img{
    width: 100%;
    display: block;
}
.pintuan-list li h4{
    margin:5px 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.4;
}
.pintuan-list li .price{
    font-size: 12px;
    color: #FF4F48;
    padding-top: 4px;
}
.pintuan-list li .price span{
    text-decoration: line-through;
    color: #999;
    font-size: 12px;
}
.pintuan-list li .price b{
    font-size: 18px;
    font-weight: normal;
}
.pintuan-list li p.tuan-btn{
    font-size: 0;
    vertical-align: bottom;
    text-align: right;
}
.pintuan-list p.tuan-btn span{
    display: inline-block;
    font-size: 12px;
    line-height: 28px;
    color: #fff;
    width: 70px;
    text-align: center;
    background: url('') no-repeat;
    background-size: 18px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.pintuan-list p.tuan-btn span.moretuan{
    background-color: #434343;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    background-image: url(/public/manage/img/icon_tuan.png);
    background-position: 8px center;
    padding-left: 20px;
}
.pintuan-list p.tuan-btn span.kaituan {
    background-color: #FF534C;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    background-image: url(/public/manage/img/icon_right.png);
    background-position: 92% center;
    background-size: 12px;
    padding-right: 6px;
}
/* 热销商品 */
.product-sale .title {
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: relative;
}
.product-sale .title:before{
    height: 1px;
    content: '';
    width: 50%;
    position: absolute;
    left:25%;
    top:50%;
    background-color: #ccc;
    z-index: 0;
}
.product-sale .title>span {
    display: inline-block;
    padding: 0 10px;
    background-color: #F4F5F7;
    color: #555;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    position: relative;
    z-index: 0;
}
.goods-show {
    padding: 0 1.6%;
    padding-bottom: 10px;
}

.goods-show .img-box {
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    background-color: #f2f2f2;
}
.goods-show img {
    display: block;
    width: 100%;
    margin: 0 auto;
}
.goods-show a {
    text-decoration: none;
    color: #333;
    display: block;
}
.goods-show li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 4px;
}
.goods-show ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.goods-show li a {
    // border: 1px solid #E5E5E5;
    padding: 4px;
    background-color: #fff;
}
.goods-show li .intro {
    position: relative;
    padding: 5px 5px 3px;
}
.goods-show li h4 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    line-height: 1.6;
}
.goods-show li p.price {
    font-size: 14px;
    color: #FF8132;
    width: 60%;
    line-height: 26px;
    font-weight: bold;
}
.goods-show li .buy-btn {
    background-color: #FF8132;
    width: 60px;
    height: 26px;
    line-height: 28px;
    text-align: center;
    color: #fff;
    font-size: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    position: absolute;
    bottom: 3px;
    right: 3px;
}
.goods-view1 li {
    margin-bottom: 5px;
}
.goods-view2 li {
    width: 50%;
    float: left;
    box-sizing: border-box;
}
.goods-view2 li a {
    background-color: #fff;
    margin: 0 auto;
    padding: 1px;
}
.goods-view2 li h4 {
    display: -webkit-box !important;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: normal;
    font-size: 14px;
    line-height: 1.5;
    height: 41px;
}
.goods-view2 li .buy-btn {
    width: 50px;
    height: 22px;
    line-height: 22px;
    bottom: 5px;
    font-size: 12px;
}
.goods-view3 li {
    width: 50%;
    float: left;
    padding: 5px;
}
.goods-view3 li:nth-of-type(3n+1) {
    width: 100%;
}
.goods-view3 li a {
    background-color: #fff;
    padding: 2px;
}
.goods-view3 li h4 {
    display: -webkit-box !important;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: normal;
    font-size: 14px;
    line-height: 1.5;
    height: 41px;
}
.goods-view3 li:nth-of-type(3n+1) h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    line-height: 1.5;
    height: auto;
    display: block !important;
}
.goods-view3 li:nth-of-type(3n+1) a {
    padding: 4px;
}
.goods-view3 li .buy-btn {
    width: 50px;
    height: 22px;
    line-height: 22px;
    bottom: 5px;
    font-size: 12px;
}
.goods-view3 li:nth-of-type(3n+1) .buy-btn {
    width: 60px;
    height: 26px;
    line-height: 26px;
    bottom: 3px;
    font-size: 13px;
}
.goods-view4 li{
    padding: 5px;
}
.goods-view4 li a {
    overflow: hidden;
    display: box;
    display: -ms-box;
    display: -webkit-box;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
}
.goods-view4 li .img-box {
    width: 40%;
}
.goods-view4 li .intro {
    -webkit-box-flex: 1;
    -ms-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    box-flex: 1;
    flex: 1;
}
.goods-view4 li h4 {
    display: -webkit-box !important;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    white-space: normal;
    font-size: 14px;
    line-height: 1.5;
}
.goods-view4 li .buy-btn {
    right: 6px;
}
.goods-show li a .tag {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    background-color: #fc9292;
    color: #fff;
    text-align: center;
    width: 70px;
    line-height: 1.3;
}
.radio-box {
	max-width: 640px;
	text-align: left;
	padding: 0;
	margin: 0 auto;
	overflow: hidden;
}
.radio-box>span{
	display: inline-block;
	margin-right: 20px;
}
.radio-box input{
	display: none;
	outline:none;
	border:0;
	-webkit-appearance: none;
}
.radio-box input+label {
	padding-left: 23px;
	height: 40px;
	line-height: 40px;
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	font-weight: normal;
	font-size: 13px;
	cursor: pointer;
}
.radio-box input+label:after {
	content: '';
	height: 20px;
	line-height: 18px;
	text-align: center;
	width: 20px;
	border: 1px solid #06A6D9;
	color: #fff;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: 10px;
	box-sizing: border-box;
	background-color: #fff;
	transition:all 0.3s;
}
.radio-box input:checked+label:after {
	// content: '✔';
	content: '';
	color: #fff;
	font-size: 14px;
	// background-color: #06A6D9;
}

/* 底部导航样式 */
.index-con .footer-nav{
	height: 52px;
	border-top: 1px solid #eee;
}
.footer-nav ul{
	display: table;
}
.footer-nav ul li{
	display: table-cell;
	width: 1000px;
	text-align: center;
	padding-top: 30px;
	background: url('') no-repeat;
	background-size: 25px;
	background-position: center 5px;
	color: #666;
}
.footer-nav ul li.icon1{
	background-image: url(../images/fnav01.png);
}
.footer-nav ul li.icon2{
	background-image: url(../images/fnav02.png);
}
.footer-nav ul li.icon3{
	background-image: url(../images/fnav03.png);
	background-size: 28px;
}
.footer-nav ul li.active{
	color: #05AF0F;
}
.footer-nav ul li.active.icon1{
	background-image: url(../images/fnav-hover01.png);
}
.footer-nav ul li.active.icon2{
	background-image: url(../images/fnav-hover02.png);
}
.footer-nav ul li.active.icon3{
	background-image: url(../images/fnav-hover03.png);
	background-size: 28px;
}