/* 默认样式 */
*{margin: 0;padding: 0;box-sizing: border-box;}
div, h1, h2, h3, h4, h5, h6, p, ol, ul, li,
span, i, img, a, input, textarea, select, option,
header, footer, nav, article, section, view, audio, video,
th, tr, td, dl, dt, dd {margin: 0;padding: 0;box-sizing: border-box;}
ul li{list-style: none;}
a{text-decoration: none;color: #333;}
img{display: block;}

html, body{background: #F7F8FA;font-size: 16px;color: #666666;word-spacing: 2px;letter-spacing: 2px;font-family: 黑体, 微软雅黑 ,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
.wrap{width: 1200px;margin: 0 auto;overflow: hidden;}
.block{display: block;}
.float-l{float: left;}
.float-r{float: right;}
.clear{clear: both;}
.bg-ff{background: #fff;}
.color-ff{color: #fff;}
.color-23{color: #232323 !important;font-weight: 600;}
.font-6{font-size: 16px;color: #333333;font-weight: 600;}
.font-8{font-size: 21px;color: #333333;font-weight: 600;}
.font-12{font-size: 32px;color: #333333;font-weight: 600;}
.text-center{text-align: center;}
.text-right{text-align: right;}
.text-left{text-align: left;}
.position-r{position: relative;}

.fixed-right{position: fixed;right: 25px;bottom: 10%;z-index: 110;width: 60px;border: 1px solid #eee;border-bottom: 0;background: rgba(255, 255, 255, .8);}
.fixed-line{width: 60px;height: 60px;border-bottom: 1px solid #eee;position: relative;font-size: 12px;color: #404040;text-align: center;cursor: pointer;white-space: nowrap;}
.fixed-bg{width: 42px;height: 42px;background: url('../images/service.png') top left / 100% 100% no-repeat;margin:  0 auto;}
.fixed-bg-1{background-image: url('../images/QQ.png');}
.fixed-line >img{width: 70%;height: auto;display: block;margin: 0 auto;}
.fixed-line .hide-info{position: absolute;bottom: 0;right: 80px;background: rgba(44, 44, 137, 0);color: #fff;visibility: hidden;transition: all .2s linear;min-height: 59px;line-height: 58px;padding: 0 20px;}
.fixed-line:hover{background: rgba(44, 44, 137, .8);color: #fff;}
.fixed-line:hover .fixed-bg{background-image: url('../images/service-whate.png');}
.fixed-line:hover .fixed-bg-1{background-image: url('../images/QQ-whate.png');display: none;}
.fixed-line:hover .fixed-qq, .fixed-line .fixed-serve{display: none;}
.fixed-line:hover .fixed-serve{font-size: 18px;text-align: center;color: #fff;white-space: normal;display: block;line-height: 28px;}

.fixed-line:hover .hide-info{background: rgba(44, 44, 137, .8);visibility: visible;right: 60px;}

.header{position: fixed;top: 0;left: 0;right: 0;height: 105px;background: rgba(255, 255, 255, .1);z-index: 110;transition: all .2s linear;}
.header .wrap{height: 105px;}
.logo img{height: 55px;height: auto;display: block;margin-top: 25px;}
.nav li {float: left;padding: 0 23px;transition: all .2s linear;cursor: pointer;}
.nav li:hover{background: rgba(44, 44, 137, 1);}
.nav li:last-child:hover{background: transparent;}
.nav li >a{line-height: 105px;color: #fff;}
.nav .active{background: rgba(44, 44, 137, 1);}
.nav .sign{border-radius: 4px;overflow: hidden;margin-top: 36px;}
.nav .sign a{padding: 0 10px;line-height: 32px;display: block;float: left;background: #fff;}
.nav .sign a:last-child{background: #4768DE;color: #fff;}
.banner{min-width: 1200px;height: 600px;overflow: hidden;}
.banner{min-width: 1200px;height: 600px;overflow: hidden;}
.banner .banner-img{width: 100%;min-width: 1920px;height: auto;position: absolute;left: 50%;transform: translateX(-50%);}
.banner .content{position: absolute;top: 182px;left: 50%;margin-left: -600px;z-index: 2;}
.banner .content-img{height: 86px;width: auto;border-bottom: 1px solid #fff;padding-bottom: 6px;margin: 0 auto;}
.banner .content-text{font-size: 54px;color: #FADF2F;word-spacing: 14px;letter-spacing: 14px;}
.banner .content-word{font-size: 16px;letter-spacing: 1px;}
.banner .content-p{color: #fff;word-spacing: 12px;letter-spacing: 12px;padding-top: 20px;}
.banner .content-btn, .module-last .on-btn{width: 188px;background: #FBDF2F;letter-spacing: 6px;word-spacing: 6px;display: block;margin: 55px auto 0;line-height: 52px;border-radius: 76px;}
.module{padding: 80px 0 100px 0;}
.module .title, .list-title, .module .scene .scene-title{position: relative;color: #323234;word-spacing: 8px;letter-spacing: 8px;padding-bottom: 20px;}
.module .title::before, .list-title::before, .module .scene .scene-title::before{content: '';position: absolute;width: 3em;left: 50%;transform: translateX(-50%);border-bottom: 1px solid #6A6C6B;bottom: 0;}
.module .title-word{position: absolute;color: rgba(0, 0, 0, .1);bottom: 0;width: 100%;left: 0;letter-spacing: 6px;}
.module .padding-tb{padding: 20px 0;}
.module .margin-t{margin-top: 58px;}
.module .list{float: left;width: 25%;border-left: 1px solid #D6D6D6;padding: 0 66px;height: 239px;}
.module .list:first-child{border-left: none;}
.module .list-img{margin: 0 auto;}
.module .list-title{margin: 16px 0;word-spacing: 3px;letter-spacing: 3px;}
.module .list-title::before{width: 2em;}
.module .list-main{word-spacing: 2px;letter-spacing: 2px;line-height: 28px;}
.module .trade{width: 1250px;margin-left: -50px;}
.module .trade-img{width: 20%;padding-left: 50px;}
.module .scene .scene-main{width: 50%;float: left;padding: 0 50px;margin-bottom: 15px;}
.module .scene .scene-main >img{width: 100%;height: auto;box-shadow: 0 5px 15px 5px #ddd;border-radius: 8px;}
.module .scene .scene-title{padding: 12px 0;}
.module .scene .scene-title::before{width: 1em;left: 0;transform: translateX(0);}
.module .scene .scene-p{padding: 12px 0;border-bottom: 1px solid #D6D6D6;margin-bottom: 18px;line-height: 28px;}
.module .scene ul li{float: left;width: 50%;padding-bottom: 28px;font-size: 12px;line-height: 25px;}
.module .scene ul li img{width: 50px;height: 50px;margin-right: 15px;}
.module .scene ul li .img-desc{padding-left: 65px;}
.module-100{padding: 100px 0;}
.module-100 .scene ul li img{margin-right: 0;margin-left: 15px;}
.module-100 .scene ul li .img-desc{padding-right: 65px;padding-left: 0;}
.module-100 .scene .scene-title::before{width: 1em;left: auto;right: 0;transform: translateX(0);}
.module-100 .scene .scene-title{overflow: hidden;}
.module-100 .scene .scene-title >p{margin-right: -8px;}
.module-gradual{
  background: linear-gradient(to right, #4D41C2, #61406F);
  background: -webkit-linear-gradient(to right, #4D41C2, #61406F);
}
.module-gradual .title{color: #fff;}
.module-gradual .title-word{color: rgba(255, 255, 255, .1)}
.module-gradual .title::before{border-color: #fff;}
.module-gradual .gradual-li li{float: left;width: 199px;padding: 46px 0;margin-right: 1px;border-left: 1px solid rgba(255, 255, 255, .2);height: 272px;}
.module-gradual .gradual-li .title{color: #323232;margin-bottom: 20px;}
.module-gradual .gradual-li .text-center{line-height: 28px;}
.module-gradual .gradual-li .title::before{border-color: #232323;}
.module-technology .technology-list{padding-left: 160px;}
.module-technology .technology-list li{float: left;width: 260px;color: #637ADA;}
.module-technology .technology-list li .time{font-size: 40px;}
.module-joint .padding-lr{padding: 0 100px;}
.module-joint .overflow{overflow: hidden;}
.module-joint .joint-logo{margin-top: 30px;margin-left: -18px;}
.module-joint .joint-logo a{margin: 0 18px;}
.module-joint .joint-logo img{width: 128px;height: 60px;display: inline-block;box-shadow: 0 1px 10px rgba(0, 0, 0, .1);margin-top: 20px;}
.module-last{height: 300px;position: relative;overflow: hidden;padding: 76px 0 0;}
.module-last .module-bg{min-width: 1920px;height: 300px;position: absolute;left: 50%;top: 0;transform: translateX(-50%);z-index: 2;}
.module-last .wrap{position: relative;z-index: 110;}
.module-last .color-ff{color: #fff;word-spacing: 6px;letter-spacing: 6px;}
.module-last .padding-b{padding-bottom: 20px;}
.module-last .on-btn{width: 220px;margin-top: 30px;}
.module-footer{font-size: 12px;line-height: 26px;color: #828284;padding: 48px 0;}
.module-footer a{color: #828284;}
.module-footer .font-8{color: #828284;line-height: 28px;}
.module-footer .float-l{width: 600px;}
.module-footer .color-link{padding-left: 6em;position: relative;}
.module-footer .color-link >p{position: absolute;left: 0;top: 0;}
.module-footer .color-link a{color: #232323;}
.module-footer .float-r{color: #232323;}
.module-footer .service-img{width: 56px;height: 56px;margin-right: 10px;}
.module-footer .serve-qq{font-weight: 600;}
.module-footer .serve-btn{color: #232323;width: 70px;line-height: 22px;display: block;border: 1px solid #9D9CAB;text-align: center;margin-top: 10px;}
.footer{border-top: 1px solid #E2E3E5;color: #232323;font-size: 12px;padding: 18px 0;}

.layer{position: fixed;z-index: 999;left: 0;top: 0;right: 0;bottom: 0;visibility: hidden;transition: all .2s linear;}
.layer-show{background: rgba(0, 0, 0, 0.6);visibility: visible;color: #232323;}
.layer .main{width: 560px;padding: 34px 86px 38px;position: absolute;background: #fff;box-shadow: 0 0 5px 5px rgba(0, 0, 0, .1);left: 50%;top: 50%;transform: translate(-50%, -50%);display: none;}
.layer .title{font-size: 22px;padding-bottom: 50px;}
.layer .input{padding-left: 5em;position: relative;margin-bottom: 22px;}
.layer .input .name{width: 5em;text-align-last: justify;font-size: 14px;position: absolute;top: 50%;left: 0;transform: translateY(-50%);}
.layer .input input{width: 100%;height: 36px;border: 1px solid #EDEDED;outline: none;padding: 0 6px;}
.layer .get-verify, .layer .submit{text-align: center;line-height: 36px;background: #309FED;border-radius: 2px;color: #fff;border: none;}
.layer .get-verify{width: 33%;float: right;  height:36px;}
.layer .get-verify:hover, .layer .submit:hover{background: #117AC8;}
